<html>
    <head>
        <title>Emprunte Carbone</title>
    </head>
    <body>
        <div id="main">
            <div id="app" v-if="load">
                <div class="debugger" v-if="debug">
                    <input type="number" v-model="year" min="1960" max="2016">
                    <dl>
                        <dt>Year</dt>
                        <dd>{{year}}</dd>
                        <dt>co2</dt>
                        <dd>{{co2}}</dd>
                    </dl>
                </div>

                <div class="bigYear">{{ year }}</div>
                <div id="timeline" class="timeline">
                    <div class="timeline__value">{{ co2 }}</div>
                    <input class="timeline__range" type="range" min="1994" max="2017" step="1" value="0" v-model="year">
                </div>
            </div>
            <div id="scene"></div>
        </div>
    </body>
</html>
