<html>
    <head>
        <title>Emprunte Carbone</title>
    </head>
    <body>
        <div id="main">
            <div id="app" v-if="state.load">
                <div class="debugger" v-if="state.debug">
                    <input type="number" v-model.lazy="state.minYear" min="1960" max="2014" placeholder="annee">
                    <!--<input type="text" v-model.lazy="state.country" placeholder="">-->
                    <v-select v-model.lazy="state.country" :options="state.countries"></v-select>
                    <hr>
                    <dl>
                        <dt>Year</dt>
                        <dd>{{state.year}}</dd>
                        <dt>co2</dt>
                        <dd>{{state.co2}}</dd>
                        <dt>country</dt>
                        <dd>{{state.country}}</dd>
                        <dt>scaler</dt>
                        <dd>{{state.scaler}}</dd>
                    </dl>
                    <hr>
                    <!-- <router-link to="/entry">Go to Foo</router-link> -->
                </div>
                <!-- route outlet -->
                <!-- component matched by the route will render here -->
                <div class="view">
                    <component class="view--inner" :class="state.currentView" v-bind:is="state.currentView">
                        <!-- component changes when vm.currentView changes! -->
                    </component>
                </div>
            </div>
        </div>
    </body>
</html>
